/* ### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

### Body Copy

- Font size: 16px

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */



/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Main Styles */
